@(paroles: List[Parole], addForm: Form[Parole])

@import helper._

@main("Admin") {

    <h1>Paroles</h1>

    <ul>
        @paroles.map { parole =>
            <li>
                @parole.publishDate<br />
                <strong>@parole.title</strong> - @parole.quote

                @form(routes.Admin.delete(parole.publishDate)) {
                    <input type="submit" value="Delete">
                }
                <a href="@routes.Admin.edit(parole.publishDate)">Editer</a>
            </li>
        }
    </ul>

    <h2>Ajouter une parole</h2>

    @form(routes.Admin.add) {

        @inputText(addForm("title"))
        @textarea(addForm("comment"))
        @textarea(addForm("quote"))
        @inputText(addForm("author"))
        @inputText(addForm("source"))
        @inputText(addForm("publishDate"))

        <input type="submit" value="Ajouter">

    }
}
